//loader
#loading{
  background-color: #bd4932;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  margin-top: 0px;
  top: 0px;
  transition: opacity .3s linear, z-index .1s linear .3s;
  &.hide{
    z-index: -1;
    opacity:0;
  }
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}

// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontBold;
}
.page-title{
  @extend %title;
  text-transform: uppercase;
}

.section-title{
  @extend %title;
}
%activeTop {
    background-color: $lightGrey;
}
#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerbg;
  .user-control{
    position: relative;
    padding: 18px;
    border-left:1px solid $lightGrey;
    font-size: 20px;
    font-weight: $fontRegular;
    color: $darkGrey;

    .circle{
      right: 10%;
      top: 0%;
    }

    &.open{
      background-color: $xsLightGrey;

      .icon-arrow-down{
        display: inline-block;
        transform: rotate(180deg);
      }
    }
    &:hover {
          @extend %activeTop;
      }
    a{
      vertical-align: middle;
      position: relative;
    }
    i{
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
    }

    .icon-arrow-down{
      font-size: 12px;
    }
  }
  .user-control.profile{
    a{
      margin: 0 20px 0 15px;
    }
  }
  .profile{
    span{
      font-size: 13px;
      color: $blue;
    }
  }
}
%activeLink{
  border-left: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;

}
#aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;

  .menu-control{
  padding: 18px;
    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }

  .aside-menu{
    padding-bottom: 35px;
    ul{
      li{
        color: $darkGrey;
        &.active {
            a {
              @extend %activeLink;
            }
        }
        a{
          display: block;
          padding: 14px;
          border-left:4px solid transparent;

        [class*='icon-']{
          font-size: 17px;
          margin-right: 15px;
        }
          &:hover {
              @extend %activeLink;
          }
        }
      }
    }
  }

   .manager-menu{
     font-size: 14px;
     color: $grey;
     .title-manager{
        padding: 28px 18px;
        border-top: 1px solid $darkGrey;
        text-transform: uppercase;
        font-weight: $fontMeium;
    }
     .info-manager{
       display: flex;
       padding: 0 18px;
       .manager-img{
         position: relative;
         .circle{
           right: 10%;
           top: 0%;
         }
       }
       .manager-name{
          margin-left: 10px;
          color: $blue;
          font-weight: $fontLight;
          vertical-align: middle;
          line-height: 43px;
        }
     }
  }
}
//content
.content-wrapper{
  padding: 18px;
  height:calc(100vh - 62px);
  overflow-y:auto;
}

//card
.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
      span{
        font-size: 16px;
        font-weight: $fontMeium;
        color: $grey;
        text-transform: uppercase;
      }
    span+span{
      font-size: 12px;
      cursor: pointer;
    }
  }
  .card-body{
    .links{
      .btn-row{
        padding: 20px 0;
      }
    }
  }
  .card-date{
    padding: 30px 0;
    border-bottom: 1px solid $lightGrey;
  }
  .card-form{
    .select-block{}
    padding: 0 18px 0 18px;
    .selct-group{
      padding: 18px;
    }
    //.input-group.width{
    //  width: 300px;
    //}
    .input-group:nth-child(n+4){
      width: 296px;
      margin-top: 35px;
    }
    .input-group{
      label{
        display: block;
        font-size: 16px;
        color: $grey;
        font-weight: $fontBold;
      }
    }
  }
  //checkboxes
  @media (max-width: 1199px) {
    .checkbox-group {
      input[type="checkbox"] {
        & + label {
          font-size: 12px;
        }
      }
    }
  }

  input[type="checkbox"]{
    display: none;

    & + label{
      font-size: 14px;
      cursor: pointer;
      user-select: none;

      &::before{
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        border:1px solid $lightGrey;
        background-color: #fff;
        margin-left: 16px;
        margin-right: 12px;
      }
    }
    &:checked{
      & + label{
        &::before{
          background: $green url('../img/checkbox-bg.png') no-repeat center;
        }
    }
    }
  }
//checkbox wrapper
@media (max-width: 1199px) {
  .checkbox-wrap{
    .checkboxes{
      .checkbox-group{
        padding: 12px 20px 12px 12px !important;
      }
    }
  }
}
  //links Start
  @media (max-width: 991px) {
    .checkbox-wrap {
      .checkboxes {
        .checkbox-group {
          flex-basis: 50% !important;
        }
      }
    }
    .width-select {
      width: 80%;
    }
    .select-block {
      .select-block-two {
        width: 20%;
      }
    }
  }
  @media (max-width: 767px) {
    .width-select {
      width: 75%;
    }
    .select-block {
      .select-blok-one{
        .input-group+.input-group{
          padding-left: 10px;
        }
      }
      .select-block-two {
        width: 25%;
        padding-left: 10px;
      }
    }
    .checkbox-wrap {
      .checkboxes {
        .checkbox-group {
          flex-basis: 100% !important;
        }
      }
    }
    .card-footer{
      input{
        padding: 9px;
        width: 115px;
      }
    }
  }
  @media (max-width: 655px) {
    .card-footer {
      .btn-disabled{
        margin-right: 15px;
      }
      .btn-action {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
      }
    }
  }
  @media (max-width:599px) {
  .card-footer{
    flex-direction: column;
  }
  input{
    align-self: center;
    margin-bottom: 10px;
  }
  .select-block{
    flex-direction: column;
  }

  .select-block{
    .select-block-two{
      width: 30%;
      padding-left: 0;
      align-self: center;
    }
    .select-blok-one{
      width: 100%;
    }
  }
}
  @media (max-width: 479px) {
    .width-half{
      width: 70%;
    }
    .select-block{
      .input-group+.input-group{
        padding-left: 0;
        padding-bottom: 10px;
      }
      .select-block-two{
        width: 55%;
      }
      .select-blok-one{
        flex-direction: column;
        align-self: center;
        .input-group{
          align-self: center;
        }
      }
    }
  }
  @media (max-width: 479px) {
    input[type="checkbox"] + label::before{
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 5px;
    }
  .ml-auto{
    margin-right: auto;
    padding-top: 5px;
  }
  .checkbox-wrap {
    .checkboxes {
      .checkbox-group {
        flex-direction: column;
        label{
          font-size: 13px;
        }
      }
    }
  }
  .card-footer{
    .btn-disabled{
      padding: 9px 15px;
      font-size: 13px;
    }
  }
}
  //linksEnd
  
  //banners start
  @media (max-width: 767px) {
  .checkbox-all{
     flex-direction: column;
     .width-half{
        width: 100%;
      }
    }
  }
  @media (max-width: 599px) {
    .select-block{
      .width-half-past{
        width: 70%;
        align-self: center;
      }
      .input-group+.input-group{
        padding-left: 0;
      }
      .input-group+.input-group+.input-group{
        padding-left: 0;
      }
    }
  }
  @media (max-width: 479px) {
    .select-block {
      .select-blok-one {
        .input-group + .input-group {
          padding-left: 0;
        }
      }
    }
    .links{
      .btn-row{
        .btn-action{
          font-size: 12px;
        }
      }
    }
  }
  
  //banners end
  
  .checkbox-wrap{
    padding: 30px 18px;
    .checkboxes{
      padding-top: 30px;
      height: 170px;
      .checkbox-group{
        padding: 12px 30px 12px 12px;
        flex-grow: 1;
        flex-basis: 33%;

        &:hover{
          background-color: $xsLightGrey;

          [class*='icon-']{
            opacity: 1;
          }
        }
        [class*='icon-']{
          opacity: 0;
        }
      }
    }
  }


  .card-footer{
    padding: 18px;
    border-top: 1px solid $lightGrey;
    input{
      flex-grow: 1;
    }
    button{
      margin-left: 15px;
      i{
        vertical-align: sub;
      }
      span{
        margin-left: 15px;
      }
    }
  }
}
@media (max-width: 991px) {
  body {
    #main {
      padding-top: 50px;
    }
  }
  .card-date {
    .datepicker-form {
      .date-input-wrap {
        input {
          padding: 10px 10px;
          vertical-align: middle;
        }
      }
    }
  }
}
@media (max-width: 991px) {
    #header {
      .flex-container{
        .user-control{
          padding: 10px;
        }
      }
    }
}
@media (max-width: 767px) {
  body {
    #main {
      padding-top: 40px;
    }
  }
  .card {
    .padding_chart {
      padding: 5px 10px;
    }
  }
  #header {
    .flex-container{
      .user-control{
        font-size: 15px;
      }
    }
  }
}
@media (max-width: 479px) {
  #aside{
    .aside-menu{
      ul{
        li{
          a{
            padding: 7px;
          }
        }
      }
    }
  }
  .card{
    .card-header{
      span{
        font-size: 13px;
      }
    }
  }
  body {
    #main {
      padding-top: 20px;
      .content-wrapper{
        padding: 0;
      }
    }
  }
  #header {
    .flex-container{
      .user-control{
        font-size: 10px;
        padding: 5px;
      }
      .user-control.profile{
        a {
          margin: 0 3px;
        }
      }
    }
  }
  .card-date{
    .datepicker-form{
      button{
        margin-bottom: 10px;
      }
      .date-input-wrap {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  .circle{
    padding: 2px;
  }
}

#header .user-control.profile a {
  margin: 0 20px 0 15px;
}

@media (max-width: 767px) {
  .card-date{
  .datepicker-form{
    .date-input-wrap {
      padding: 0;
      input {
        width: 80px;
        padding:7px 6px;
      }
    }
   }
  }
}
.datepicker-form{
  .date-input-wrap{
    padding: 5px 0;
    display: inline-block;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    color: $black;
    vertical-align: middle;
    margin-right: 12px;

    input{
      padding: 11px 16px;
      vertical-align: middle;

      &#to{
        border-left: 1px solid $lightGrey;
      }
    }
    label{
      padding: 0 14px 0 10px;
      vertical-align: middle;
      display: inline-block;
      i{
        color: $grey;
      }
    }
  }
  .btn{
    vertical-align: middle;
    line-height: 0;

  }
}

//dropdown
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: $xsLightGrey;
  padding: 10px 18px 24px;
  top:100%;
  left: 0;
  right:0;
}

//container
.container{
  margin: 0 auto;
  &.sm{
    max-width: 684px;
  }
}

//table

.table{
  font-size: $tableFontSize;
  tbody{
    td{
      padding: 15px;
    }
    tr{
      transition: .2s linear;
      &:hover{
        background-color: $tableTrHover;
        .hide-icons{
          opacity:1;
        }
      }
      &:last-child {
        td {
          border-bottom: 1px solid $lightGrey;
        }
      }
    }
  }
  td{
    border-top: 1px solid $lightGrey;
    .hide-icons{
      opacity:0;
      transition: all .3s linear;
    }
  }
}

.modal{
  background-color: $modalBg;
  display: none;

  &#links,&#banners{
     width: 70%;
     min-height: 100px;
   }
}

//table
.links{
  table{
      padding-left: 18px;
  }
  thead{
    td{
      border-top: none;
    }
  }
  tbody{
    td{
      line-height: 1.7em;
    }
  }
}
.td-info{
  cursor: pointer;
  display: inline-block;
  padding: 10px;
    i{
    font-size: 7px;
    margin-left: 10px;
    opacity: 0;
    }
  &:hover{
    transition: all .3s linear;
    background-color: $lightGrey;
    color: $black;
    i{
      opacity: 1;
    }
  }
}


//range slider

#custom-handle{
  top: 12px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  background: transparent;
  border-bottom-color: aqua;
  span{
    position: absolute;
    top:25px;
    right: -25px;
  }
}

.range-slider{
  height: 100px;
  padding: 30px 18px;
}
#slider{
  margin-top: 30px;
}
.ui-slider-handle:active{
  color: black;
}
.chekbox-slider-groupe{
  border-bottom: 1px solid $lightGrey;
  .checkbox-wrap{
    h3{
      margin-bottom: 15px;
    }
  }
}

.card-footer-postback{
  padding: 18px;
}

.padding_chart{
  padding:35px 185px;
}
@media (max-width: 1199px) {
  .padding_chart{
    padding:35px 100px;
  }
}
@media (max-width: 991px) {
  .padding_chart{
    padding:35px 50px;
  }
}