//loader
#loading{
  background-color: #bd4932;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  margin-top: 0px;
  top: 0px;
  transition: opacity .3s linear, z-index .1s linear .3s;
  &.hide{
    z-index: -1;
    opacity:0;
  }
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}

// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontBold;
}
.page-title{
  @extend %title;
  text-transform: uppercase;
}

.section-title{
  @extend %title;
}
%activeTop {
    background-color: $lightGrey;
}
#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerbg;
  .user-control{
    position: relative;
    padding: 18px;
    border-left:1px solid $lightGrey;
    font-size: 20px;
    font-weight: $fontRegular;
    color: $darkGrey;

    .circle{
      right: 10%;
      top: 0%;
    }

    &.open{
      background-color: $xsLightGrey;

      .icon-arrow-down{
        display: inline-block;
        transform: rotate(180deg);
      }
    }
    &:hover {
          @extend %activeTop;
      }
    a{
      vertical-align: middle;
      position: relative;
    }
    i{
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
    }

    .icon-arrow-down{
      font-size: 12px;
    }
  }
  .user-control.profile{
    a{
      margin: 0 20px 0 15px;
    }
  }
  .profile{
    span{
      font-size: 13px;
      color: $blue;
    }
  }
}
%activeLink{
  border-left: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;

}
#aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;

  .menu-control{
  padding: 18px;
    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }

  .aside-menu{
    padding-bottom: 35px;
    ul{
      li{
        color: $darkGrey;
        &.active {
            a {
              @extend %activeLink;
            }
        }
        a{
          display: block;
          padding: 14px;
          border-left:4px solid transparent;

        [class*='icon-']{
          font-size: 17px;
          margin-right: 15px;
        }
          &:hover {
              @extend %activeLink;
          }
        }
      }
    }
  }

   .manager-menu{
     font-size: 14px;
     color: $grey;
     .title-manager{
        padding: 28px 18px;
        border-top: 1px solid $darkGrey;
        text-transform: uppercase;
        font-weight: $fontMeium;
    }
     .info-manager{
       display: flex;
       padding: 0 18px;
       .manager-img{
         position: relative;
         .circle{
           right: 10%;
           top: 0%;
         }
       }
       .manager-name{
          margin-left: 10px;
          color: $blue;
          font-weight: $fontLight;
          vertical-align: middle;
          line-height: 43px;
        }
     }
  }
}
//content
.content-wrapper{
  padding: 18px;
  height:calc(100vh - 62px);
  overflow-y:auto;
}

//card
.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
      span{
        font-size: 16px;
        font-weight: $fontMeium;
        color: $grey;
      }
  }

  .card-date{
    padding: 30px 0;
    border-bottom: 1px solid $lightGrey;
  }
  .card-form{
    .selct-group{
      padding: 18px;
    }
    .input-group{
      label{
        display: block;
        font-size: 16px;
        color: $grey;
        font-weight: $fontBold;
      }
      input{
        width: 100%;
      }
    }
  }
  .card-footer{
    padding: 18px;
    border-top: 1px solid $lightGrey;
    input{
      width: 716px;
    }
    button{
      margin-left: 15px;
      span{
        margin-left: 15px;
      }
    }
  }
}

.datepicker-form{
  .date-input-wrap{
    padding: 5px 0;
    display: inline-block;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    color: $black;
    vertical-align: middle;
    margin-right: 12px;

    input{
      padding: 11px 16px;
      vertical-align: middle;

      &#to{
        border-left: 1px solid $lightGrey;
      }
    }
    label{
      padding: 0 14px 0 10px;
      vertical-align: middle;
      display: inline-block;
      i{
        color: $grey;
      }
    }
  }
  .btn{
    vertical-align: middle;
    line-height: 0;

  }
}

//dropdown
.dropdown-menu{
  display: none;
  position: absolute;
  background-color: $xsLightGrey;
  padding: 10px 18px 24px;
  top:100%;
  left: 0;
  right:0;
}

//container
.container{
  margin: 0 auto;
  &.sm{
    max-width: 684px;
  }
}

//table

.table{
  font-size: $tableFontSize;
  tbody{
    td{
      padding: 15px;
    }
    tr{
      transition: .2s linear;
      &:hover{
        background-color: $tableTrHover;
        .hide-icons{
          opacity:1;
        }
      }
      &:last-child {
        td {
          border-bottom: 1px solid $lightGrey;
        }
      }
    }
  }
  td{
    border-top: 1px solid $lightGrey;
    .hide-icons{
      opacity:0;
      transition: all .3s linear;
    }
  }
}

.modal{
  background-color: $modalBg;
  display: none;

  &#links{
    width: 70%;
    min-height: 100px;
  }
}

//table
.links{
  table{
      padding-left: 18px;
  }
  thead{
    td{
      border-top: none;
    }
  }
  tbody{
    td{
      line-height: 1.7em;
    }
  }
}
.td-info{
  cursor: pointer;
  display: inline-block;
  padding: 10px;
    i{
    font-size: 7px;
    margin-left: 10px;
    opacity: 0;
    }
  &:hover{
    transition: all .3s linear;
    background-color: $lightGrey;
    color: $black;
    i{
      opacity: 1;
    }
  }
}
.pageNavigation{
  text-align: center;
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    li {
      display: inline;
      &:hover{
        a{
          background-color: $lightGrey;
        }
      }
      a {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;

      }
      &:first-child {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}