//btn

%btn{
  display: inline-block;
  padding: 9px 20px;
  border-radius: 5px;
  font-weight: $fontLight;
  font-size: 18px;
  color: $xsLightGrey;
}
.btn-default{
  @extend %btn;
  background-color: $darkGrey;
  &:hover{
    background-color: $grey;
  }
}

.btn-action{
  @extend %btn;
  background-color: $orange;
  &:hover{
    background-color: $orangeLight;
  }
}
.btn-disabled{
  @extend %btn;
  background-color: $lightGrey;
}

//input

.input-default{
  width: 155px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid $lightGrey;
  font-weight: $fontLight;
  padding: 15px;
  font-size: 14px;
  &:hover{
    border: 1px solid $darkGrey;
  }
}


//navigation

.pageNavigation{
  text-align: center;
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    .active{
      a{
        background-color: $lightGrey;
      }
    }
    li {
      display: inline;
      &:hover{
        a{
          //background-color: $lightGrey;
          color: $orange;
        }
      }
      a {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;

      }
      &:first-child {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}